@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.SearchBar {
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  top: 0;
  top: 5%;
  left: 5%;

  padding: 30px;

  background-color: rgba(white, $alpha: 0.8);
  border-radius: 30px;
  .searchForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .form-group {
      margin-bottom: 10px;
    }

    .form-group-range {
      display: flex;
      flex-direction: column;
    }
  }
  @include atSmall {
  }
}
